*{
    margin: 0;
    padding: 0;
  }
  
  body{
    height: 100%;
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
    color: black;
    width: auto;
    overflow-x: hidden;
  }
    .header{
    background-color: #ffffff;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    border-bottom: 1px solid #ffff;
      
  }

  .header,.barraSearch,.logoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Logolotus img{
    width: 220px;
  }
  
  .search{    /*estilisa a barra de pesquisa*/
    padding: 8px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 300px;
    color: #000000;
  }

  .search::placeholder{
    color: #000000;
  }

  .navHeader{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #383838;
  }

  .dropbtn, #Retro {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 16px;
    margin: 0;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-content a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .dropdown-content a:hover {background-color: #a5a5a5}

  .dropdown:hover .dropdown-content {
    background-color: #fcfcfc;
    color: #000000;
    display: flex;
    flex-direction: row;
    /*box-shadow: 1.5px 1.5px .5px .5px rgb(124, 124, 124);*/
    border: 1px solid rgb(180, 180, 180);
    border-radius: 15px;
  }

  .navbar a:hover, .dropdown:hover .dropbtn, #Retro:hover {
    background-color: rgb(87, 87, 87);
  }

  .timesInt{
    padding: 30px;
  }
  .timesInt h4{
    margin-bottom: 10px;
    color: #000000;
  }

  .timesBr{
    padding: 30px;
    text-align: center;
  }

  .selecao{
    padding: 30px;
    text-align: center;
  }

  .carrinho{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .carrinho h1{
    text-align: center;
    padding: 50px;
  }

.iten {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20.3px;
    background-color: #383838;
    padding: 20px;
    color: #fcfcfc;
}
.iten img{
    height: 180px;
    border-radius: 20px;
}

i{
  margin-top: 40px;
  font-size: 20px;
  color: #fcfcfc;
  cursor: pointer;
}
  .cadastro {
    background-color: white;
    padding: 10px 140px;
    border-radius: 80px;
  }

  .cadastro h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
    color: #111111;
  }

  .cadastro label{
    text-align: left;
    font-size: 18px;
    color: #111111;
    font-weight: bold;
  }

  .cadastro input{
    font-size: 18px;
    margin-bottom: 30px;
    border: none;
    height: 18px;
    width: 260px;
    border-radius: 8px;
    padding: 8px;
    background-color: #D9D9D9;
  }

  .cadastro button{
    color: #fcfcfc;
    font-size: 20px;
    width: 250px;
    margin-top: 35px;
    font-family: "Jost", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #fcfcfc;
    cursor: pointer;
    transition: .4s;
  }

  .cadastro button:hover{
    background-color: #cbcbcc;
    color: #000000;
}

  .cadastro fieldset{
    display: flex;
    width: 400px;
    flex-direction: column;
    text-align: left;
}
  
  footer{
    background-color: #111111;
    color: #fcfcfc;
    padding: 80px;
  }
  
  .allFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .sobreNos{
    max-width: 300px;
  }
  
  .sobreNos a{
    text-decoration: none;
    color: #fcfcfc;
  }
  
  .sobreNos p{
    font-size: 17px;
    margin-top: 12px;
  }
  
  .entreContato p{
    font-size: 20px;
    padding: 10px;
  }
  
  .entreContato a{
    text-decoration: none;
    color: #fcfcfc;
  }
  
  .linkRedes{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
    margin-top: 20px;
  }
  
  .linkRedes a{
    border: none;
    color: #fcfcfc;
    text-decoration: none;
  }
  
  .logo img{
    float: right;
    margin: 0;
    width: 300px;
    margin-right: 150px;
  }